<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<header>
      <h1>Kamalak </h1>
      <h3>xususiy bolalar bog'chasiga xush kelipsiz</h3>
      <nav>
        <ul>
          <li><a id="k1" href="kindergarten.html">Batafsil</a></li>
          <li><a href="sharoit.html">Sharoitlar</a></li>
          <li><a href="ishvaqti.html">Ish vaqti</a></li>
          <li><a href="aloqa.html">Aloqa</a></li>
        </ul>
      </nav>
    </header>
    <img id="rasm0" src="./img/11111111.png" alt="bu yerda kamalak boqchasining rasmi bor">
    <hr style="margin: 0px; padding: 0px;">
    <section >
      <h2>Biz Haqimizda</h2>
      <p style="font-size: 25px;">Kamalak xususiy bolalar bog'chasining web saytiga tashrif buyirganingiz uchun minnatdormiz.</p>
      <p style="font-size: 25px;">Kamalak bolalar bog'chasi Toshkent shahrida joylashgan bo'lib xususiy bog'cha hisoblanadi.O'ylaymanki bu bo'g'cha haqida ko'plab ma'lumotlar olishingiz mumkin.Farzandingiz ta'lim olishi uchun eng yaxshi bog'cha deb o'ylayman.Farzandingizni eng yaxshi tarbiyachilar o'z qamroviga olishadi, farzandingizga kerakli bilimlarni bera olishadi.Bundan tashqari Kamalak xususiy bolalar bog'chasida turli sport va fan to'garaklari mavjud.Bu farzandingizni kelajakda sog'lom va teran fikrlay olish qobilyatini oshiradi.</p>
      <h2>
        O‘zbekistonda xususiy va davlat bog‘chalari soni maʼlum qilindi
      </h2>
      <div class="statistik">
       <div class="rasm_statik">
        <img id="statistika" src="img/statistika.bog'cha.jpg" alt="bu yerda xususiy bolalar bog'chasing statistikasi bor">
       </div>
      <div class="malumot" style="width: auto; background-color: #eee;">
        <p style="font-size: 25px;"> Maktabgacha taʼlim agentligi O‘zbekistonda faoliyat yuritayotgan maktabgacha taʼlim tashkilotlari (MTT) sonini maʼlum qildi.
        </p>
        <p>
          2023-yilning 1-avgust holatiga ko‘ra, respublikada jami 30 792 ta bog‘cha faoliyat ko‘rsatyapti. Shundan davlatga qarashli MTTlari soni 6 734 ta, nodavlat bog‘chalar 24 058 tani tashkil etadi.Taqqoslash uchun, 2017-yilda mamlakatda 5 211 ta bog‘cha bo‘lgan. 2018-yilda bu raqam 7104 taga, 2019-yilda 13 530 taga, 2020-yilda 18 254 taga yetgan. 2021-yilga kelib bog‘chalar soni keskin ko‘paygan va 27 609 tani tashkil etgan. 2022-yilda esa bu ko‘rsatkich 29 420 tagacha ortgan.

          Maʼlum qilinishicha, agentlikka 2023-yilning 1- yarim yilligida tadbirkorlar tomonidan bog‘chalar ochish masalasida 5 486 ta arizalar kelib tushgan. Shundan 2 089 ta loyiha maʼqullangan, 1 846 ta loyihalar bilan bitim imzolangan. Natijada 59 072 ta yangi quvvat, 4 615 ta yangi ishchi o‘rin yaratildi.
        </p>
        <p id="m1">Shuningdek, bu 6 oy ichida respublikadagi 740 ming nafarga yaqin tarbiyalanuvchilarni qamrab olgan 21 mingdan ortiq nodavlat (jumladan, oilaviy MTT) maktabgacha taʼlim tashkilotlariga davlat budjeti mablag‘lari hisobidan 1,2 trillion so‘m miqdorda subsidiyalar ajratilgan.</p>
      </div>
      </div>
    </section>
</body>
</html>